<%= form_for record, :url => route, :html => { :class => 'form-horizontal' } do |f| %>

<fieldset>
  <legend><%= controller.action_name.capitalize %> Classroom</legend>

  <div class="control-group">
    <%= f.label :name, t("form.classroom.name"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', list_classroom_path, :class => 'btn' %>
  </div>
</fieldset>

<% end %>