<h1><%= t('titles.student.list') %></h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Turma</th>
      <th>Ações</th>
    </tr>
  </thead>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.classroom.name %></td>
      <td>
        <%= link_to 'Editar',  edit_student_path(student.id) %>
        <%= link_to 'Excluir', remove_student_path(student.id) %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to t('titles.student.new'), new_student_path %></p>